.team {
  background-color: #F4F4FD;
  padding: 120px 0px;
}
.team-container {
  max-width: 1158px;
  padding: 0px 15px;
  gap: 72px;
  margin: 0 auto;
}
.title-team {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center ;
  gap: 24px;
  padding: 0px;
}
.team-item {
  background-color: #FFFFFF;
  width: 264px;
  border-radius: 0 0 4px 4px;
}
/* Изображение сотрудника (типографика и цвет) */
.team-img {
  display: block;
  object-fit: cover;
}
/* Текст внутри контента центрируется */
.team-card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px    
}
/* Имя сотрудника (типографика и цвет) */
.team-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
/* Должность (типографика и цвет) */
.team-role {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
